:host {
  .form-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
      margin-bottom: 15vh;
    }

    ion-item {
      width: 75vw;
    }

    ion-button {
      margin-top: 15vh;
    }
  }

  ion-item {
    --background: var(--ion-color-light);
  }
}