<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-label>Player 1</ion-label>
        <ion-select (ionChange)="selectPlayer(1, $event)">
          <ion-select-option *ngFor="let player of players" [value]="player.id">
            {{ player.name }}
          </ion-select-option>
          <ion-select-option [value]="'add'">
            Add player
          </ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col>
        <ion-label>Player 2</ion-label>
        <ion-select (ionChange)="selectPlayer(2, $event)">
          <ion-select-option *ngFor="let player of players" [value]="player.id">
            {{ player.name }}
          </ion-select-option>
          <ion-select-option [value]="'add'">
            Add player
          </ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
