:host {
  .form-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
      margin-bottom: 15vh;
    }

    ion-item {
      width: 75vw;
    }

    ion-button {
      margin-top: 15vh;
    }
  }

  .icon-container {
    border: black solid 2px;
    border-radius: 50%;
    margin-bottom: 5vh;

    ion-icon {
      font-size: 128px;
    }
  }
}